/* WHO AM I!?!? */

#whoAmI {
	overflow: hidden;
	height: 100vh;
	position: relative;
}

#whoAmI p {
	padding: 5px;
	font-size: 16px;
}

#whoAmI > div :not(.hai){
	position: absolute;
	top: 100%;
}

#whoAmI > div > div :not(.hai){
	width: 30%;
	height: 30%;
	min-height: 230px;
	margin-right: 2.25%;
	margin-top: 5%;
	float: right;
	background: rgba(200,200,200,.5);
	text-align: center;
}