#antHeader {
	width: 100%;
	text-align: center;
}

#antTable {
}

#antTable td {
	height: 10px;
	width: 10px;
}

#legend * {
	text-align: center;
}

.tile {
	border: 1px solid black;
	background: yellow;
}

.tile0 {
	background: white;
}

.tile1 {
	background: black;
}

.tile2 {
	background: red;
}

.tile3 {
	background: blue;
}

.tile4 {
	background: purple;
}

.tile5 {
	background: purple;
}

.tile6 {
	background: purple;
}

.tile7 {
	background: purple;
}

iframe {
	visibility: hidden;
	height: 0;
}

@media (min-width: 650px){
	iframe {
		visibility: visible;
		height: 360px;
	}

	#antMovie a {
		visibility: hidden;
	}
}