#resume-column a {
	display: inline-block;
}

#hero-image {
	width: 50%;
	height: auto;
	border-radius: 100%;
}

#hero-container {
	text-align: center;
}

@media (min-width: 992px) {

	#hero-image {
	    width: 28%;
	    border: 7px solid black;
	    padding: 8px;
	    margin-bottom: .5em;
	}

	#first-hero-text {
		margin-bottom: .25em;
	}

	#second-hero-text {
		margin-top: .25em;
	}

	#main-contact-item {
		padding-top: 10em;
	}

}