#nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 30px;
	width: 100%;
	padding-right: 10px;
	background-color: rgba(0,0,0,.7);
	z-index: 999;
	color: white;
}

#nav * {
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: inline-block;
	float: right;
	text-align: center;
}

#nav-container {
	width: auto;
	height: 30px;
}

#nav-container p {
	margin-top: 0;
	margin-right: 12px;
}

#nav-container div {
	padding-top: 2px;
	margin-right: 11px;
}

#nav-container :first-child {
	margin-right: 0;
}

@media (min-width: 720px) {

	#nav {
		height: 50px;
	}

	#nav-container {
		height: 50px;
	}

	#nav * {
		font-size: 33px;
	}

}