#recentSide {
  border: 2px solid black;
  border-radius: 5px;
  background: #FFF;
}

.demoImg {
	position: fixed;
	width: auto;
	border-radius: 5px;
	border: 1px solid black;
}

.demoDiv {
	border: 2px solid black;
	border-radius: 5px;
	margin: 10px;
	background-color: white;
	color: black;
	position: relative;
}

.demoDiv p {
	padding: 5px;
}

#recentPower {
	position: fixed;
	top: 81%;
	left: 76%;
	width: 15%;
}

#recentPowerDiv {
	position: fixed;
	top: 80%;
	left: 74%;
	width: 19%;
	height: 19%;
	border-radius: 50%;
	-webkit-animation: powerGlow 2s infinite;
	-moz-animation: powerGlow 2s infinite;
	animation: powerGlow 2s infinite;
}

#tblImg {
	bottom: 76%;
	left: 72.5%;
}

#daysieImg {
	bottom: 49%;
	left: 72.5%;
}

#rexImg {
	bottom: 23%;
	left: 72.5%;
}