html, body {
	height: 100%; width: 100%; margin: 0;
}

.container h1, .container h2, .container h3, .container p {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 300;
}

.container h1 {
	font-size: 1.56em;
}

.container h2 {
	font-size: 1.34em
}

.left-column * {
	float: left;
}

.right-column * {
	float: right;
}

.right-column, .left-column {
	padding: 0;
}

.right-arrow, .left-arrow {
	height: auto;
	width: 2.5em;
}

.right-column h1, .left-column h1 {
	font-size: 1.3em;
	margin-top: .32em;
	margin-bottom: .32em;
}

.full-width-medium-spacer {
	height: 1em;
}

#hero-text {
	text-align: center;
	float: left;
	margin-bottom: 1em;
}

#hero-text a * {
	display: inline-block;
}

#hero-text img {
	height: auto;
	width: 2.3em;
	margin-right: .5em;
}

#contact-list {
	text-align: center;
}

#contact-list * {
	text-align: left;
}

#contact-list ul {
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
}

.contact-list-item {
	text-align: left;
}

.contact-list-item * {
	text-align: left;
	display: inline-block;
}

.contact-list-item {
	font-size: 1em;
}

.contact-list-item img {
	height: auto;
	width: 3em;
	position: relative;
	bottom: .2em;
	margin-right: 0.25em;
}

@media (min-width: 470px) {

	.right-column h1, .left-column h1 {
		margin-top: .15em;
	}

	.container h1 {
		font-size: 2em;
	}

	.right-arrow, .left-arrow {
		width: 3.35em;
	}
}

@media (min-width: 600px) {

	.full-width-medium-spacer {
		height: 3.125em;
	}

	.container h2 {
		font-size: 1.25em;
	}

}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* -----  MAIN CSS  ----- */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

#resume-column a {
	display: inline-block;
}

#hero-image {
	width: 50%;
	height: auto;
	border-radius: 100%;
	padding: 6px;
	border: 4px solid black;
}

#hero-container {
	text-align: center;
}

#props {
    position: fixed;
    bottom: .5em;
    right: 1.5em;
}

#first-hero-text {
	margin-bottom: .25em;
}

#second-hero-text {
	margin-top: .25em;
}

@media (min-width: 470px) {

	#hero-image {
		width: 40%;
	    border: 7px solid black;
	    padding: 8px;
	}

}

@media (min-width: 768px) {

	#hero-image {
	    width: 36%;
	    margin-bottom: .5em;
	}

}

@media (min-width: 992px) {

	#hero-image {
	    width: 28%;
	    margin-bottom: .5em;
	}

	#main-contact-item {
		margin-top: 10em;
	}

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* -----  CONTACT CSS  ----- */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contact-big-text {
	text-align: center;
}

#email-icon {
	height: auto;
	width: 3em;
}

#github-icon {
	height: auto;
	width: 2.8em;
	/*margin-left: 0.1em;*/
}

#linkedin-icon {
	height: auto;
	width: 3em;
	/*margin-left: -0.1em;*/
}

#contact-resume-icon {
	height: auto;
    width: 2.85em;
    margin-left: -0.05em;
}

@media (min-width: 470px) {
	.contact-big-text {
		font-size: 2em;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* -----  WORK CSS  ----- */
/* ~~~~~~~~~~~~~~~~~~~~~~ */

.project-container .row {
	margin: auto 0;
}

.project-image-container {
	display: inline-block;
	margin: .5em;
}

.project-image-container > a > .col-xs-12 {
	background: rgba(155,155,155,.2);
}

.project-image-container img {
	width: 100%;
	height: auto;
	padding: 1em;
}

.col-sm-7 > img {
	padding-bottom: 0;
}

.project-image-container .col-xs-12, .project-image-container .col-xs-6 {
	padding: 0;
}

.project-image-container .col-xs-12 .row {
	margin-left: .5em;
	margin-right: .5em;
}

.description-area h1, .description-area p {
	padding-left: .5em;
	padding-right: .5em;
	display: inline-block;
}

.description-area p {
	font-family: 'Roboto', sans-serif;
}

a .col-xs-6 .col-xs-12 {
	padding: 0;
}

.col-xs-6 > img {
	margin-top: .5em;
}

#do-work {
	text-align: center;
    font-size: 3.5em;
    margin: 0;
}

#work-resume {
	text-align: center;
}

.project-container .project-image-container .description-area {
	padding: 0;
	padding-left: 1.25em;
}

.project-container .project-image-container .description-area *	{
	padding: 0;
}

#open-rex-image {
	width: 1.75em;
	margin-left: 0.5em;
	margin-bottom: .75em;
}

@media (min-width: 768px) {

	.project-container .project-image-container .description-area h1 {
		margin-top: 0;
	}

	#work-resume {
		margin: .75em;
	}

}

@media (min-width: 992px) {

	.project-container h2 {
		font-size: 5em;
	}

	.description-area h1 {
		font-size: 3em;
	}

	.description-area img {
		width: 3.5em;
    	margin-bottom: 1.2em;
	}

	.description-area p {
		font-size: 1.25em;
	}

	#open-rex-image {
		width: 3em;
		margin-bottom: 1.5em;
	}

}

/* ~~~~~~~~~~~~~~~~~~~~~ */
/* -----  404 CSS  ----- */
/* ~~~~~~~~~~~~~~~~~~~~~ */

#fourOhFour {
	text-align: center;
}