/* GENERAL */

html, body { height: 100%; width: 100%; margin: 0; }

* {
	font-family: 'Gudea', sans-serif;
}

h1 {
	/*font-family: 'Oxygen', sans-serif;*/
}

#nav * {
  font-family: 'BenchNine', sans-serif;
  font-weight: 300;
}


.partyHard {
	width: auto;
	height: 100%;
}

.hai {
  position: relative;
  left: 21px;
  bottom: 581px;
  font-size: 50px;
  font-weight: 300;
}

.splashImg {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 0;
}
