<div class="col-xs-6 left-column">
	<a href="/#!/">
		<img src="/images/arrow-left.png" class="left-arrow">
		<h1>HOME</h1>
	</a>
</div>

<div class="col-xs-6 right-column">
	<a href="/#!/work">
		<img src="/images/arrow-right.png" class="right-arrow">
		<h1>WORK</h1>
	</a>
</div>

<div class="col-xs-12 full-width-medium-spacer"></div>

<div class="col-xs-12">
	<h1 class="contact-big-text">INTEREST PIQUED?</h1>
	<h1 class="contact-big-text">CONTACT ME!</h1>
</div>
<div class="col-xs-12" id="contact-list">
	<ul>

		<li>
			<a class="contact-list-item" id="email-button" href="/#!/contact">
				<img id="email-icon" src="/images/circle_social-email-glyph.png">
				<h2 id="contact-email-text">TG.SPEARS@GMAIL.COM</h2>
			</a>
		</li>

		<li>
			<a class="contact-list-item" href="http://github.com/tgspears" target="_blank">
				<img id="github-icon" src="/images/UberCons_SocialPack_GitHub.png">
				<h2>GITHUB: tgspears</h2>
			</a>
		</li>

		<li>
			<a class="contact-list-item" href="http://linkedin.com/in/trevorspears" target="_blank">
				<img id="linkedin-icon" src="/images/circle_social-linkedin-glyph.png">
				<h2>LINKEDIN: trevorspears</h2>
			</a>
		</li>

		<li>
			<a class="contact-list-item" href="/images/trevorSpearsResume.pdf" target="_blank">
				<img id="contact-resume-icon"src="/images/circle-edit-pen-pencil-glyph.png">
				<h2>CHECK OUT MY RESUME</h2>
			</a>
		</li>

	</ul>
	
</div>