<!-- Who Am I? -->
<div id="whoAmI">
	<!-- <div>
		<div>
			<h1>Video &plus; Tabletop Gamer</h1>
			<p>I have a passion for gaming. I am constantly pushing myself to more reliably identify the highest value actions, to approach problems without bias andto remember that just because something worked a month ago it may not be an effective approach now.</p>
		</div>
		<div>
			<h1>Competetive &amp; Collaborative</h1>
			<p>I want to be the best. I want to be the fastest, smartest and most skilled and I understand that I can not achieve that alone. Collaboration is an extremely important part of self improvement and I gladly share my knowledge and experience with teammates and listen to advice from anyone willing to share it.</p>
		</div>
		<div>
			<h1>Love Interactive Design</h1>
			<p>Lorem ipsum dolor sit amet, ex inani iudico tation duo, tale eleifend nec no. Inani viderer quo in, ea labore dolorum sed. Te quo semper epicurei oporteat. Per te saepe apeirian, officiis maiestatis ex has. At est illum liber maiestatis, iisque latine id pri.</p>
		</div>
		<div>
			<h1>Playful</h1>
			<p>Lorem ipsum dolor sit amet, ex inani iudico tation duo, tale eleifend nec no. Inani viderer quo in, ea labore dolorum sed. Te quo semper epicurei oporteat. Per te saepe apeirian, officiis maiestatis ex has. At est illum liber maiestatis, iisque latine id pri.</p>
		</div>
		<div>
			<h1>Eager to Learn</h1>
			<p>Lorem ipsum dolor sit amet, ex inani iudico tation duo, tale eleifend nec no. Inani viderer quo in, ea labore dolorum sed. Te quo semper epicurei oporteat. Per te saepe apeirian, officiis maiestatis ex has. At est illum liber maiestatis, iisque latine id pri.</p>
		</div>
		<div>
			<h1>Curious</h1>
			<p>Lorem ipsum dolor sit amet, ex inani iudico tation duo, tale eleifend nec no. Inani viderer quo in, ea labore dolorum sed. Te quo semper epicurei oporteat. Per te saepe apeirian, officiis maiestatis ex has. At est illum liber maiestatis, iisque latine id pri.</p>
		</div>
	</div> -->

	<img class="splashImg" src="/images/under_construction_by_creamania.jpg">
  <img class="partyHard" src="/images/tooSpooky.png">
  <div class="hai">Oh hai!</div>

  <p class="headsUp">About Screen</p>
  
</div>