<br />
<br />
<br />
<h1 id="antMovie">The inspiration for this little project: <a href="https://www.youtube.com/embed/NWBToaXK5T0" target="_blank">Langton's Ant - Numberphile</a></h1>
<iframe width="640" height="360" src="https://www.youtube.com/embed/NWBToaXK5T0" frameborder="0" allowfullscreen></iframe>
<br />
<h1>This project attempts to add more rules to make the Langton's Ant game thing a bit more dynamic.</h1>
<br />
<div id="antGame" ng-controller="mainController">
	<h1 id="antHeader">THE BOARD</h1>
	<table id="antTable">
		<tr ng-repeat="x in gameBoard">
			<td ng-repeat="y in x track by $index" class="tile tile{{y}}"> </td>
		</tr>
	</table>
	<br />
	<h1>Big note:</h1>
	<h2>This is very rough and quite fragile. Opening new tabs, navigating pre-existing tabs and other stuff confuses the ant! Also beginning a new 'game' is really slow. I'll be working to fix these and other issues as I encounter them and as I have time to spare.</h2>
	<h2>Thank you for being awesome and for being kind to the ants!</h2>
	<br />
	<h1>This isn't very interesting yet, still messing around with the rules to try to get something more than a repeating pattern down/right (current build is diagonal movement).</h1>
	<h2>Ideas for possible new rules:</h2>
	<ul>
		<li>Diagonal movement: if current space right, diagonal right, if diagonal right, diagonal left</li>
		<li>Extra space: if current space right, skip one space to the left, if left, skip right</li>
		<li></li>
	</ul>
	<br />
	<h1>CURRENT TURN: {{ counter }}</h1>
	<form>
		<h2>Number of turns:</h2>
		<input placeholder="Turns" type="number" required ng-model="iterations.count" name="iterations" />
		<br />
		<h2>X:</h2>
		<input placeholder="X" type="number" min="0" max="72" ng-model="startpoint.x" name="startx" />
		<br />
		<h2>Y:</h2>
		<input placeholder="Y" type="number" min="0" max="72" ng-model="startpoint.y" name="starty" />
		<br />
		<input type="submit" ng-click="play(iterations, startpoint)" value="GO!" />
	</form>
</div>
<br />
<div id="legend">
	<h1>LEGEND</h1>
	<h2>Will create one when I find something worth legending!</h2>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64519034-2', 'auto');
  ga('send', 'pageview');

</script>