<br />
<br />
<br />
<h1 id="antMovie">The inspiration for this little project: <a href="https://www.youtube.com/embed/NWBToaXK5T0" target="_blank">Langton's Ant - Numberphile</a></h1>
<iframe width="640" height="360" src="https://www.youtube.com/embed/NWBToaXK5T0" frameborder="0" allowfullscreen></iframe>
<br />
<div id="antGame" ng-controller="mainController">
	<h1 id="antHeader">THE BOARD</h1>
	<table id="antTable">
		<tr ng-repeat="x in gameBoard">
			<td ng-repeat="y in x track by $index" class="tile tile{{y}}"> </td>
		</tr>
	</table>
	<br />
	<h1>Big note:</h1>
	<h2>This is very rough and quite fragile. Opening new tabs, navigating pre-existing tabs and other stuff confuses the ant! Also beginning a new 'game' is really slow. I'll be working to fix these and other issues as I encounter them and as I have time to spare.</h2>
	<h2>Thank you for being awesome and for being kind to the ants!</h2>
	<br />
	<h1>CURRENT TURN: {{ counter }}</h1>
	<form>
		<h1>15k turns at X:40, Y: 40 gets to the infinite pattern</h1>
		<h2>Number of turns:</h2>
		<input placeholder="Turns" type="number" required ng-model="iterations.count" name="iterations" />
		<br />
		<h2>X:</h2>
		<input placeholder="X" type="number" min="0" max="72" ng-model="startpoint.x" name="startx" />
		<br />
		<h2>Y:</h2>
		<input placeholder="Y" type="number" min="0" max="72" ng-model="startpoint.y" name="starty" />
		<br />
		<input type="submit" ng-click="play(iterations, startpoint)" value="GO!" />
	</form>
</div>
<br />
<table id="legend">
	<h1>LEGEND</h1>
	<tr>
		<th>WHITE Vacant</th>
		<th>WHITE Occupied</th>
		<th>BLACK Vacant</th>
		<th>BLACK Occupied</th>
	</tr>
	<tr>
		<td>0</td>
		<td>2</td>
		<td>1</td>
		<td>3</td>
	</tr>
	<tr>
		<td>White</td>
		<td>Red</td>
		<td>Black</td>
		<td>Blue</td>
	</tr>
</table>
<br />
<h2>At this point the game can handle up to 1378 moves, at which point it hits the edge of the game board and breaks.</h2>
<h2>As time goes on I will try to add features to this 'game' to try to turn it into an actual game.</h2>
<h2>Some potential features are:</h2>
<ul>
	<li>Make the ant's brain more robust - she is confused too easily!</li>
	<li>Lighten up the game board - it's far too heavy</li>
	<li>Dynamically expanding board</li>
	<li>Pattern recognition (given time, the game stabilizes in an infinite pattern)</li>
	<li>Customizable game board</li>
	<li>Puzzle boards:
		<ul>
			<li>Given a beginning point, customize the game board so that the ant hits a specific end point</li>
			<li>Given a particular pre-populated game board, set the beginning point so that the ant hits a specific ending point</li>
		</ul>
	</li>
	<li>And more things in mind that are potentially too ambitious for me to even mention!</li>
</ul>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64519034-2', 'auto');
  ga('send', 'pageview');

</script>