<!-- Splash Zone -->
<div id="main">
	<!-- This is a "deck" because the future... -->
	<div id="deck">
		<div id="hello" class="card">
			<h1>Trevor Spears</h1>
			<p>Hello there!</p>
			<img src="images/trevorSpears.jpg">
			<p>I am a Full-Stack Web Developer skilled in a number of languages, web application frameworks, databases and front end frameworks. I am excited for the opportunity to learn from and contribute to the world of development and hope to never stop growing.</p>
		</div>
		<div class="card">
			<img src="/images/rexThumbCropped.png">
			<div class="stuffContainer">
				<a href="http://sendrex.herokuapp.com" target="_blank"><h1>Rex</h1></a>
				<p>Rex is a website designed to help you keep track of and easily share your favorite travel experiences!</p>
				<p>Final project at General Assembly, developed by <a href="http://www.laurengo.com" target="_blank">Lauren Go</a> and I in WEEK 11. Developed mobile first in 1 week using MEAN Stack, Sails.js, Materialize CSS &amp; Angular Material. Powered by data from the Yelp API</p>
			</div>
		</div>
		<div class="card">
			<img src="/images/daysieChainCropped.png">
			<div class="stuffContainer">
				<a href="http://daysiechain.herokuapp.com" target="_blank"><h1>Daysie Chain</h1></a>
				<p>Daysie Chain is a service that allows you to easily and quickly organize your social life. With Daysie Chain, you can add your friends to groups, create events, send invites that automatically push RSVP-able notifications, and track attendances.</p>
				<p>Developed with <a href="https://www.linkedin.com/in/nguyenhalexander" target="_blank">Alex Nguyen</a> and <a href="https://www.linkedin.com/in/daveraskin" target="_blank">Dave Raskin</a>
				</p>
			</div>
		</div>
		<div class="card">
			<h1>Video &plus; Tabletop Gamer</h1>
			<p>I have a passion for gaming. I love learning new game mechanics, figuring out powerful strategies, abusing strange interactions and doing everything I can to improve my decision making, my attitude and my execution.</p>
			<p>It doesn't stop at PLAYING the games either! I've recently started watching ESL's Counter Strike: Global Offensive (CS:GO) tournaments. Turns out there's quite a bit more to the game than run and gun!</p>
		</div>
	</div>
</div>