<div class="col-xs-6 left-column">
	<a href="/#!/work">
		<img src="/images/arrow-left.png" class="left-arrow">
		<h1>WORK</h1>
	</a>
</div>

<div class="col-xs-6 right-column">
	<a href="/#!/contact">
		<img src="/images/arrow-right.png" class="right-arrow">
		<h1>CONTACT</h1>
	</a>
</div>

<div class="col-xs-12 full-width-medium-spacer"></div>

<div id="hero-container" class="col-xs-12">
	<img id="hero-image" src="images/trevorSpears.png">
</div>

<div class="col-xs-12 hero-text">
	<h1 id="first-hero-text">hi, i'm trevor spears.</h1>
	<h1 id="second-hero-text">i'm a web developer.</h1>
	<a id="main-contact-item" class="contact-list-item" href="/images/trevorSpearsResume.pdf" target="_blank">
		<img src="/images/circle-edit-pen-pencil-glyph.png">
		<h2>CHECK OUT MY RESUME</h2>
	</a>
</div>