<!-- Resume Section -->
<div id="resume" class="clearfix">
	<div id="resume_header">
		<h1>TREVOR SPEARS</h1>
		<h2>Full-Stack Web Developer</h2>
	</div>
	<div id="resume_about">
		<h1>About Me</h1>
		<p>Hi there! I'm Trevor and I am a Full Stack Web Developer! This is a fairly new development, I've been learning Web Development for around 5 months. In that time I attended General Assembly's Web Development Immersive program in which I worked for 12 weeks (and around 10-12 hours a day) learning absolutely as much as I could to prepare myself for the WebDev industry.</p>
		<p>Some of the skills I learned during that time are as follows:</p>
		<ul>
			<li>  Build sites from the ground up using both Javascript and Ruby in the form of ground-up development as well as using frameworks such as Rails and Sails.
			<li>  Create and manage Mongo and Postgres databases
			<li>  Build APIs in Rails and ExpressJS
			<li>  Create modern and interactive Front-End sites using:
			<ul>
				<li>  Vanilla HTML, CSS3 and Javascript</li>
				<li>  Front-End frameworks such as Bootstrap and Materialize</li>
				<li>  JQuery, AngularJS, CSS3 animations</li>
			</ul>
		</ul>
		<p>I am excited and hungry to learn as much as I can and push my career as far as I can while maintaining a work/life balance.</p>
		<p>While I am currently committed to a contract at the moment I would love to hear from you if there are opportunities that I may be a good fit for!</p>
	</div>
	<div id="hist_lg">
		<h1>Web Development Immersive Student</h1>
		<h2>March 2015 – June 2015</h2>
		<h3>Greater Seattle Area</h3>
		<p>General Assembly's Web Development Immersive (WDI) program was an all eggs in one basket, dive in head first type of environment. In order to attend I quit my job and completely dedicated myself to it. Each day (Monday through Saturday and usually Sunday) was filled (10-12 hours a day) with learning and implementing modern Web Development concepts and languages. During that time I created three WebApps, one in vanilla JS, on in Rails and one using Sails as well as a simple browser video game (a work in progress!).</p>
		<p>I learned so much about coding in those 12 weeks but the most important skill I developed was the skill to learn quickly. I am very comfortable being faced with a challenge I've never considered before and I am confident that I can, in a reasonable amount of time, identify a potential solution for the problem or realize it's time to pivot.</p>
		<p>The entire experience was amazing and I am extremely excited to begin developing my career!</p>
	</div>
	<div id="smalls" class="clearfix">
		<div class="hist_sm" id="sm_1">
			<h1>Full Stack Rails Developer</h1>
			<h2>July 2015 - Present</h2>
			<h3>Greater Seattle Area</h3>
			<p>Currently working on building a Rails Webapp for an overseas insurance corporation.</p>
			<p>Some quick details about the project:</p>
			<ul>
				<li>  Custom Rails WebApp - no templates</li>
				<li>  Using RefineryCMS</li>
				<li>  Stand-alone Rails API to serve multiple sites</li>
				<li>  All UI and design handled by myself and my partner</li>
			</ul>
		</div>
		<div class="hist_sm" id="sm_2">
			<h1>Sales Associate</h1>
			<h2>2014 - 2015</h2>
			<h3>Greater Seattle Area</h3>
			<p>Women's Shoes Sales Associate at the Bellevue Square Macy's.</p>
			<p>Some skills I picked up during my time at Macy's are:</p>
			<ul>
				<li>  Customer relations</li>
				<li>  Sales experience</li>
				<li>  POS</li>
			</ul>
		</div>
	</div>
	<div id="resume_lists">
		<div id="resume_contact">
			<p>CONTACT</p>
			<ul>
				<li><p>Github</p></li>
				<li><p>Linkedin</p></li>
				<li><p>Facebook</p></li>
				<li><p>Email</p></li>
				<li><p>SEATTLE, WA</p></li>
			</ul>
		</div>
		<div id="contact_skills_seperator"></div>
		<div id="resume_skills">
			<p>SKILLS</p>
			<ul>
				<li><p>HTML5</p></li>
				<li><p>CSS3</p></li>
				<li><p id="wiggle">CSS3 Animations</p></li>
				<li><p>SASS</p></li>
				<li><p>Ruby</p></li>
				<li><p>Rails</p></li>
				<li><p>Javascript</p></li>
				<li><p>Express</p></li>
				<li><p>Angular</p></li>
				<li><p>Sails</p></li>
				<li><p>Mongo</p></li>
			</ul>
		</div>
		<div id="skills_concepts_seperator"></div>
		<div id="resume_concepts">
			<p>CONCEPTS</p>
			<ul>
				<li><p>BDD</p></li>
				<li><p>TDD</p></li>
				<li><p>FDD</p></li>
				<li><p>Waterfall</p></li>
				<li><p>Agile</p></li>
				<li><p>Scrum</p></li>
			</ul>
		</div>
	</div>
</div>