html, body {
	height: 100%; width: 100%; margin: 0;
}

.container h1, .container h2, .container h3, .container p {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 300;
}

.container h1 {
	font-size: 1.56em;
}

.container h2 {
	font-size: 1.45em;
}

.container h2 {
	font-size: 1.34em
}

.left-column * {
	float: left;
}

.right-column * {
	float: right;
}

.right-column, .left-column {
	padding: 0;
}

.right-arrow, .left-arrow {
	height: auto;
	width: 2.5em;
}

.right-column h1, .left-column h1 {
	font-size: 1.3em;
	/*margin: .32em .5em;*/
	margin-top: .45em;
	margin-bottom: .32em;
}

.full-width-medium-spacer {
	height: 1em;
}

.hero-text {
	text-align: center;
	float: left;
	margin-bottom: 1em;
}

.hero-text a * {
	display: inline-block;
}

.hero-text img {
	height: auto;
	width: 2.3em;
	margin-right: .5em;
}

#contact-list {
	text-align: center;
}

#contact-list * {
	text-align: left;
}

#contact-list ul {
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
}

.contact-list-item {
	text-align: left;
}

.contact-list-item * {
	text-align: left;
	display: inline-block;
}

.contact-list-item {
	font-size: 1em;
}

.contact-list-item img {
	height: auto;
	width: 3em;
	position: relative;
	bottom: .2em;
	margin-right: 0.25em;
}

@media (min-width: 470px) {

	.right-column h1, .left-column h1 {
		margin-top: .32em;
	}

	.container h1 {
		font-size: 2em;
	}

	.right-arrow, .left-arrow {
		width: 3.35em;
	}
}

@media (min-width: 600px) {

	.full-width-medium-spacer {
		height: 3.125em;
	}

	.container h2 {
		font-size: 1.25em;
	}

}