@font-face {
  font-family: "Castoro Regular";
  src: url("../Castoro/Castoro-Regular.ttf");
}
@font-face {
  font-family: "Inter Regular";
  src: url("../Inter/static/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("../Inter/static/Inter-Bold.ttf");
}
@font-face {
  font-family: "Nunito Regular";
  src: url("../Nunito/NunitoSans-Regular.ttf");
}
.castoro-regular {
  font-family: "Castoro Regular";
  font-size: 1.5rem;
  font-weight: 400;
}
.castoro-large {
  font-family: "Castoro Regular";
  font-size: 4rem;
  font-weight: 400;
}
.inter-regular {
  font-family: "Inter Regular";
  font-size: 1.25rem;
  font-weight: 400;
}
.inter-small {
  font-family: "Inter Regular";
  font-size: 0.825rem;
  font-weight: 400;
}
.inter-bold {
  font-family: "Inter Regular";
  font-size: 1.25rem;
  font-weight: 700;
}
.nunito-regular {
  font-family: "Nunito Regular";
  font-size: 1.25rem;
  font-weight: 400;
}
.nunito-small {
  font-family: "Nunito Regular";
  font-size: 0.825rem;
}
@keyframes emboss {
  from {
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(108, 108, 108, 0), -0.25rem -0.25rem 0.25rem rgba(255, 255, 255, 0);
  }
  to {
    box-shadow: 0.25rem 0.25rem 0.25rem #6c6c6c, -0.25rem -0.25rem 0.25rem #ffffff;
  }
}
@keyframes deboss {
  from {
    box-shadow: 0.25rem 0.25rem 0.25rem #6c6c6c, -0.25rem -0.25rem 0.25rem #ffffff;
  }
  to {
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(108, 108, 108, 0), -0.25rem -0.25rem 0.25rem rgba(255, 255, 255, 0);
  }
}
* {
  color: #000;
  font-family: "Nunito Regular";
  font-size: 1.125rem;
  font-weight: 400;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
.pop-pink {
  color: #FF675F;
}
.no-margin-top {
  margin-block-start: 0px;
}
.accent-background {
  background-color: #e5e5e5;
}
.background-fix {
  height: 100%;
  width: 130%;
  margin-left: calc(-50vw + 25%);
  padding-left: 16rem;
  position: absolute;
  z-index: -1;
}
.full-view {
  min-height: 100vh;
}
.padded-bottom {
  padding-bottom: 8.5rem;
}
.tile {
  font-family: "Inter Regular";
  font-size: 1.25rem;
  font-weight: 400;
  display: inline-block;
  padding: 0.5rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem #6c6c6c, -0.25rem -0.25rem 0.25rem #ffffff;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.section div:first-child {
  margin-top: 5rem;
}
#about-me h1.pop-pink {
  margin-block-start: 10%;
  margin-block-end: 5px;
}
#about-me h1.pop-pink + h1 {
  margin-block-start: 0px;
  margin-block-end: 28px;
}
#about-me > .col-12 {
  margin-top: 0;
}
#face-box #face {
  display: block;
}
#face-box #about-face {
  display: none;
}
#face-box:hover #face {
  display: none;
}
#face-box:hover #about-face {
  display: block;
}
.section-icon {
  max-width: 3.125rem;
  height: 2.125rem;
}
#skills h3 {
  margin-block-start: 6rem;
}
#skills h4 {
  margin-block-start: 0.825rem;
}
#latest-projects .project .project-description h1 {
  margin-block-end: 0;
}
#latest-projects .project .project-description p {
  margin-block-start: 0;
  margin-block-end: 6px;
}
#latest-projects .project .project-highlight h3 {
  margin-block-start: 12px;
  margin-block-end: 12px;
}
#latest-projects .project .project-highlight p {
  margin-block-end: 14px;
}
#latest-projects .project .image-group {
  position: relative;
  padding-bottom: 7rem;
  top: 5rem;
}
#latest-projects .project .offset-image {
  position: absolute;
  height: auto;
}
#latest-projects .project .offset-left {
  top: 3.5rem;
  right: 3.5rem;
}
#latest-projects .project .offset-right {
  top: 3.5rem;
  left: 3.5rem;
}
#experience {
  height: 100vh;
}
#experience p {
  margin-block-start: 3.5rem;
}
#experience h3 {
  margin-block-start: 6rem;
}
#experience h4 {
  margin-block-start: 0.825rem;
}
#contact h2 {
  margin-block-start: 6rem;
}
#navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  padding: 2rem 1.5rem;
  border-radius: 0.25rem;
  background: #e5e5e5;
  box-shadow: inset 0.5rem 0.5rem 0.5rem #6c6c6c, inset -0.5rem -0.5rem 0.5rem #d8d8d8;
}
#navigation a {
  font-family: "Castoro Regular";
  font-size: 1.25rem;
  font-weight: 400;
  display: block;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(108, 108, 108, 0), -0.25rem -0.25rem 0.25rem rgba(255, 255, 255, 0);
}
#navigation .active-nav {
  box-shadow: 0.25rem 0.25rem 0.25rem #6c6c6c, -0.25rem -0.25rem 0.25rem #ffffff;
}
