// Fonts

@font-face {
    font-family: "Castoro Regular";
    src: url("../Castoro/Castoro-Regular.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: "Nunito Regular";
    src: url("../Nunito/NunitoSans-Regular.ttf");
}

.castoro-regular {
    font-family: "Castoro Regular";
    font-size: 1.5rem;
    font-weight: 400;
}

.castoro-medium {
    font-family: "Castoro Regular";
    font-size: 1.25rem;
    font-weight: 400;
}

.castoro-large {
    font-family: "Castoro Regular";
    font-size: 4rem;
    font-weight: 400;
}

.inter-regular {
    font-family: "Inter Regular";
    font-size: 1.25rem;
    font-weight: 400;
}

.inter-medium {
    font-family: "Inter Regular";
    font-size: 1.125rem;
    font-weight: 400;
}

.inter-small {
    font-family: "Inter Regular";
    font-size: 0.825rem;
    font-weight: 400;
}

.inter-bold {
    font-family: "Inter Regular";
    font-size: 1.25rem;
    font-weight: 700;
}

.nunito-regular {
    font-family: "Nunito Regular";
    font-size: 1.25rem;
    font-weight: 400;
}

.nunito-medium {
    font-family: "Nunito Regular";
    font-size: 1.125rem;
    font-weight: 400;
}

.nunito-small {
    font-family: "Nunito Regular";
    font-size: 0.825rem;
}

// General

@main-black: #000;
@main-white: #fff;
@accent-grey: #e5e5e5;
@pop-pink: #FF675F;

* {
    color: @main-black;
    font-family: "Nunito Regular";
    font-size: 1.125rem;
    font-weight: 400;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

.container {
    width: 72%;
}

.pop-pink {
    color: @pop-pink;
}

.no-margin-top {
    margin-block-start: 0px;
}

.accent-background {
    background-color: @accent-grey;
    height:100%;
    min-height: 100vh;
    width: 100vw;
    margin-left: calc(-50vw + 25%);
    padding-left: 16rem;
    position: absolute;
    z-index: -1;
}

.full-view {
    min-height: 100vh;
    height: 100%;
}

.tile {
    font-family: "Inter Regular";
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    padding: .5rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
        box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.25);
    border-radius: .125rem;
    margin-left: .25rem;
    margin-right: .25rem;
}

.shadowed {
    padding: .5rem;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: .125rem;
}

.section-icon.odd-icon {
    max-width: initial;
    width: auto;
}

#about-me {
    h1.pop-pink {
        margin-block-end: 5px;
    }

    h1.pop-pink + h1 {
        margin-block-start: 0px;
        margin-block-end: 28px;
    }
}

#face-box {
    #face {
        display: block;
    }

    #about-face {
        display: none;
    }

    &:hover #face {
        display: none;
    }

    &:hover #about-face {
        display: block;
    }
}

.section {
    .section-start {
        margin-block-start: 4%;
    }

    .odd-start {
        margin-block-start: 4%;
    }

    .section-icon {
        max-width: 2.125rem;
        max-height: 2.125rem;
    }
}

#skills {
    h3 {
        margin-block-end: 2rem;
    }

    h4 {
        margin-block-start: 0.5rem;
        margin-block-end: 0.825rem;
    }

    .skills-start {
        margin-block-start: 2%;
        margin-block-end: 2%;
    }

    .language-icon {
        max-width: none;
    }

    .tile-group {
        margin-bottom: 2rem;
    }

    .tile {
        background: @main-white;
    }
}

#latest-projects {
    .project {

        .project-description {
            h1 {
                margin-block-end: 0;
            }
            p {
                margin-block-start: 0;
                margin-block-end: 6px;
            }
        }

        .project-highlight {
            margin-top: 6rem;
            float: right;

            h3 {
                margin-block-start: 12px;
                margin-block-end: 12px;
            }
            p {
                margin-block-end: 14px;
            }
        }

        .image-group {
            .project-image {
                width: 66%;
            }

            position: relative;
            padding-bottom: 7rem;
            top: 3rem;
        }

        .hero-image-container {
            margin-top: 5.5rem;
        }

        .offset-image {
            position: absolute;
            height: auto;
        }

        .offset-left {
            top: 3.5rem;
            right: 3.5rem;
        } 

        .offset-right {
            top: 6rem;
            left: 7rem;
        }
    }
}

#experience, #education {
    h3 {
        margin-block-end: 1.5%;
    }

    h4 {
        margin-block-start: .5rem;
        padding: 0.25rem 0.625rem;
    }

    p {
        line-height: 30px;
    }

    .shadowed {
        max-width: max-content;
    }
}

#experience {
    .subtitle {
        color: @pop-pink;
    }
}

// EDUCATION

#education div:nth-child(4).col-4 {
    margin-bottom: 0;
}

// CONTACT

#contact {

    .contact-icon {
        max-width: 3.125rem;
        height: 2.125rem;
        margin-right: 1.625rem;
    }

    .contact-method {
        img {
            height: 100%;
            position: relative;
            top: 0.625rem;
        }

        a {
            display: inline-block;
            text-decoration: none;
            margin-left: 1.625rem;

            h3 {
                margin-top: 0.06rem;
                margin-bottom: 0.125rem;
                color: @main-black;
            }

            &:hover {
                text-decoration: none;

                h3 {
                    color: @pop-pink;
                }

                img {
                    fill: @pop-pink;
                }
            }
        }
    }
}

// NAVIGATION

#navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    padding: 2rem 1.5rem;
    border-radius: 0.125rem;

    a {
        font-family: "Castoro Regular";
        display: block;
        text-decoration: none;
        margin-block-end: -0.125rem;
        border-radius: 0.125rem;
        padding-right: 0.75rem;
        padding-left: 0.5rem;
        padding-top: 0.25rem;
    }

    .active-nav {
        color: rgba(255,255,255,1);
        background-color: rgba(0,0,0,1);
    }
}

@media only screen and (max-width: 60em) {
    body {
        overflow-x: hidden;
    }

    #navigation {
        display: none;
    }

    .castoro-large {
        font-size: 3rem;
    }

    .full-view {
        padding-bottom: 2rem;
    }
    
    #contact {
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 60em) {
    .row {
        width: 90%;
    }
}