@font-face {
  font-family: "Castoro Regular";
  src: url("../Castoro/Castoro-Regular.ttf");
}
@font-face {
  font-family: "Inter Regular";
  src: url("../Inter/static/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("../Inter/static/Inter-Bold.ttf");
}
@font-face {
  font-family: "Nunito Regular";
  src: url("../Nunito/NunitoSans-Regular.ttf");
}
.castoro-regular {
  font-family: "Castoro Regular";
  font-size: 1.5rem;
  font-weight: 400;
}
.castoro-medium {
  font-family: "Castoro Regular";
  font-size: 1.25rem;
  font-weight: 400;
}
.castoro-large {
  font-family: "Castoro Regular";
  font-size: 4rem;
  font-weight: 400;
}
.inter-regular {
  font-family: "Inter Regular";
  font-size: 1.25rem;
  font-weight: 400;
}
.inter-medium {
  font-family: "Inter Regular";
  font-size: 1.125rem;
  font-weight: 400;
}
.inter-small {
  font-family: "Inter Regular";
  font-size: 0.825rem;
  font-weight: 400;
}
.inter-bold {
  font-family: "Inter Regular";
  font-size: 1.25rem;
  font-weight: 700;
}
.nunito-regular {
  font-family: "Nunito Regular";
  font-size: 1.25rem;
  font-weight: 400;
}
.nunito-medium {
  font-family: "Nunito Regular";
  font-size: 1.125rem;
  font-weight: 400;
}
.nunito-small {
  font-family: "Nunito Regular";
  font-size: 0.825rem;
}
* {
  color: #000;
  font-family: "Nunito Regular";
  font-size: 1.125rem;
  font-weight: 400;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
.container {
  width: 72%;
}
.pop-pink {
  color: #FF675F;
}
.no-margin-top {
  margin-block-start: 0px;
}
.accent-background {
  background-color: #e5e5e5;
  height: 100vh;
  width: 100vw;
  margin-left: calc(-50vw + 25%);
  padding-left: 16rem;
  position: absolute;
  z-index: -1;
}
.full-view {
  min-height: 100vh;
}
.padded-bottom {
  padding-bottom: 10%;
}
.tile {
  font-family: "Inter Regular";
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  padding: 0.5rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.125rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.shadowed {
  padding: 0.5rem;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.125rem;
}
.section-icon.odd-icon {
  max-width: initial;
  width: auto;
}
#about-me h1.pop-pink {
  margin-block-end: 5px;
}
#about-me h1.pop-pink + h1 {
  margin-block-start: 0px;
  margin-block-end: 28px;
}
#face-box #face {
  display: block;
}
#face-box #about-face {
  display: none;
}
#face-box:hover #face {
  display: none;
}
#face-box:hover #about-face {
  display: block;
}
.section .section-start {
  margin-block-start: 4%;
}
.section .odd-start {
  margin-block-start: 2%;
}
.section .section-icon {
  max-width: 2.125rem;
  max-height: 2.125rem;
}
#skills h3 {
  margin-block-end: 2rem;
}
#skills h4 {
  margin-block-start: 0.825rem;
}
#skills .skills-start {
  margin-block-start: 2%;
  margin-block-end: 2%;
}
#skills .language-icon {
  max-width: none;
}
#skills .tile {
  background: #fff;
}
#latest-projects .project .project-description h1 {
  margin-block-end: 0;
}
#latest-projects .project .project-description p {
  margin-block-start: 0;
  margin-block-end: 6px;
}
#latest-projects .project .project-highlight {
  margin-top: 10.5rem;
}
#latest-projects .project .project-highlight h3 {
  margin-block-start: 12px;
  margin-block-end: 12px;
}
#latest-projects .project .project-highlight p {
  margin-block-end: 14px;
}
#latest-projects .project .image-group {
  position: relative;
  padding-bottom: 7rem;
  top: 5rem;
}
#latest-projects .project .image-group .project-image {
  width: 66%;
}
#latest-projects .project .hero-image-container {
  margin-top: 5.5rem;
}
#latest-projects .project .offset-image {
  position: absolute;
  height: auto;
}
#latest-projects .project .offset-left {
  top: 3.5rem;
  right: 3.5rem;
}
#latest-projects .project .offset-right {
  top: 6rem;
  left: 7rem;
}
#experience,
#education {
  height: 100vh;
}
#experience h3,
#education h3 {
  margin-block-end: 1.5%;
}
#experience h4,
#education h4 {
  margin-block-start: 1rem;
  padding: 0.25rem 0.625rem;
}
#experience p,
#education p {
  line-height: 30px;
}
#experience .shadowed,
#education .shadowed {
  width: max-content;
}
#experience .subtitle {
  color: #FF675F;
}
#contact .contact-icon {
  max-width: 3.125rem;
  height: 2.125rem;
  margin-right: 1.625rem;
}
#contact .contact-method img {
  height: 100%;
  position: relative;
  top: 0.625rem;
}
#contact .contact-method a {
  display: inline-block;
  text-decoration: none;
  margin-left: 1.625rem;
}
#contact .contact-method a h3 {
  margin-top: 0.06rem;
  margin-bottom: 0.125rem;
  color: #000;
}
#contact .contact-method a:hover {
  text-decoration: none;
}
#contact .contact-method a:hover h3 {
  color: #FF675F;
}
#contact .contact-method a:hover img {
  fill: #FF675F;
}
#navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  padding: 2rem 1.5rem;
  border-radius: 0.125rem;
}
#navigation a {
  font-family: "Castoro Regular";
  display: block;
  text-decoration: none;
  margin-block-end: -0.125rem;
  border-radius: 0.125rem;
  padding-right: 0.75rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}
#navigation .active-nav {
  color: #ffffff;
  background-color: #000000;
}
