// Fonts

@font-face {
    font-family: "Castoro Regular";
    src: url("../Castoro/Castoro-Regular.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: "Nunito Regular";
    src: url("../Nunito/NunitoSans-Regular.ttf");
}

.castoro-regular {
    font-family: "Castoro Regular";
    font-size: 1.5rem;
    font-weight: 400;
}

.castoro-large {
    font-family: "Castoro Regular";
    font-size: 4rem;
    font-weight: 400;
}

.inter-regular {
    font-family: "Inter Regular";
    font-size: 1.25rem;
    font-weight: 400;
}

.inter-small {
    font-family: "Inter Regular";
    font-size: 0.825rem;
    font-weight: 400;
}

.inter-bold {
    font-family: "Inter Regular";
    font-size: 1.25rem;
    font-weight: 700;
}

.nunito-regular {
    font-family: "Nunito Regular";
    font-size: 1.25rem;
    font-weight: 400;
}

.nunito-small {
    font-family: "Nunito Regular";
    font-size: 0.825rem;
}

// Animations

@keyframes emboss {
    from {
        box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 0),
                    -.25rem -.25rem .25rem rgba(255, 255, 255, 0);
    }
    to {
        box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 1),
                    -.25rem -.25rem .25rem rgba(255, 255, 255, 1);
    }
}

@keyframes deboss {
    from {
        box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 1),
                    -.25rem -.25rem .25rem rgba(255, 255, 255, 1);
    }
    to {
        box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 0),
                    -.25rem -.25rem .25rem rgba(255, 255, 255, 0);
    }
}

// General

* {
    color: @main-black;
    font-family: "Nunito Regular";
    font-size: 1.125rem;
    font-weight: 400;
}

html {
    // I'm not happy about having to touch the HTML element but
    // something about using 100vw for the accent-background-fix
    // is causing a small amount of horizontal scroll
    // so I'm just using this to hide the bug

    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

@main-black: #000;
@main-black-75: rgba(0, 0, 0, .75);
@main-black-50: rgba(0, 0, 0, .5);
@main-black-25: rgba(0, 0, 0, .25);

@main-white: #fff;
@main-white-75: rgba(255, 255, 255, .75);

@accent-grey: #e5e5e5;
// rgba(245, 245, 245, 1)

@pop-pink: #FF675F;
// rgba(255, 103, 95, 1)

.pop-pink {
    color: @pop-pink;
}

.no-margin-top {
    margin-block-start: 0px;
}

.accent-background {
    background-color: @accent-grey;
}
.background-fix {
    height:100%;
    width: 130%;
    margin-left: calc(-50vw + 25%);
    padding-left: 16rem;
    position: absolute;
    z-index: -1;
}

.full-view {
    min-height: 100vh;
}

.padded-bottom {
    padding-bottom: 8.5rem;
}

.tile {
    font-family: "Inter Regular";
    font-size: 1.25rem;
    font-weight: 400;
    display: inline-block;
    padding: .5rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    box-shadow:  .25rem .25rem .5rem #6c6c6c,
                -.25rem -.25rem .25rem #ffffff;
    border-radius: .25rem;
    margin-left: .25rem;
    margin-right: .25rem;
}

.section div:first-child {
    margin-top: 5rem;
}

#about-me {
    h1.pop-pink {
        margin-block-start: 10%;
        margin-block-end: 5px;
    }

    h1.pop-pink + h1 {
        margin-block-start: 0px;
        margin-block-end: 28px;
    }

    > .col-12 {
        margin-top: 0;
    }
}

#face-box {
    #face {
        display: block;
    }

    #about-face {
        display: none;
    }

    &:hover #face {
        display: none;
    }

    &:hover #about-face {
        display: block;
    }
}

.section-icon {
    max-width: 3.125rem;
    height: 2.125rem;
}

#skills {
    h3 {
        margin-block-start: 6rem;
    }

    h4 {
        margin-block-start: 0.825rem;
    }
}

#latest-projects {
    .project {

        .project-description {
            h1 {
                margin-block-end: 0;
            }
            p {
                margin-block-start: 0;
                margin-block-end: 6px;
            }
        }

        .project-highlight {
            h3 {
                margin-block-start: 12px;
                margin-block-end: 12px;
            }
            p {
                margin-block-end: 14px;
            }
        }

        .image-group {
            position: relative;
            padding-bottom: 7rem;
            top: 5rem;
        }

        .offset-image {
            position: absolute;
            height: auto;
        }

        .offset-left {
            top: 3.5rem;
            right: 3.5rem;
        } 

        .offset-right {
            top: 3.5rem;
            left: 3.5rem;
        }
    }
}

#experience {
    height: 100vh;

    p {
        margin-block-start: 3.5rem;
    }

    h3 {
        margin-block-start: 6rem;
    }

    h4 {
        margin-block-start: 0.825rem;
    }
}

#contact {
    h2 {
        margin-block-start: 6rem;
    }
}

// NAVIGATION

#navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    padding: 2rem 1.5rem;
    border-radius: .25rem;
    background: #e5e5e5;
    box-shadow: inset .5rem .5rem .5rem #6c6c6c,
                inset -.5rem -.5rem .5rem #d8d8d8;

    a {
        font-family: "Castoro Regular";
        font-size: 1.25rem;
        font-weight: 400;
        display: block;
        text-decoration: none;
        padding: .5rem .5rem;
        margin: .5rem;
        border-radius: .25rem;
        box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 0),
                    -.25rem -.25rem .25rem rgba(255, 255, 255, 0);
    }

    // @keyframes popout {
    //     from {
    //         box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 0),
    //                     -.25rem -.25rem .25rem rgba(255, 255, 255, 0);
    //     }
    //     to {
    //         box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 1),
    //                     -.25rem -.25rem .25rem rgba(255, 255, 255, 1);
    //     }
    // }

    .active-nav {
        box-shadow:  .25rem .25rem .25rem rgba(108, 108, 108, 1),
                    -.25rem -.25rem .25rem rgba(255, 255, 255, 1);
    }

    // .inactive-nav {
    //     animation-name: popout;
    //     animation-duration: .1s;
    //     animation-direction: reverse;
    // }
}